<div class="section" id="animationSlideInLeft">
    <div class="container">
        <a [routerLink]="['/stories']">
          <h2 _ngcontent-c4="" class="text-black">Historier</h2>
        </a>
        <br />
        <div class="row">
          <div class="col-md-3" *ngFor="let item of tableStories">
            <div class="card card-plain card-blog">
              <div class="card-image img rounded img-raised wrapper" id="animationFadeIn08" [style.backgroundImage] = "'url(assets/img/' + item.cardImg + ')'" [routerLink]="['/story/', item.id]"></div>
              <div class="card-body">
                <h4 class="card-title">
                  <a [routerLink]="['/story/', item.id]">{{item.cardTitle}}</a>
                </h4>
                <p class="card-description">
                  {{item.cardDescription}}
                </p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
