<app-header></app-header>

<div class="main">
    <div class="container">
        <div class="section">
            <!--title-->
            <h1 _ngcontent-c4="" class="title" style="text-align: center;">TITULO</h1>
            <!--title-->

            <!--Card-Destination-->
            <div _ngcontent-c4="" class="blogs-4">
                <div _ngcontent-c4="" class="container">
                    <div _ngcontent-c4="" class="row">
                        <div _ngcontent-c4="" class="col-md-10 ml-auto mr-auto">
                            <h2 _ngcontent-c4="" class="title">Latest Blogposts 4</h2>
                            <br _ngcontent-c4="">
                            <div _ngcontent-c4="" class="card card-plain card-blog">
                                <!--<div _ngcontent-c4="" class="card-image">
                                    <a _ngcontent-c4="" href="#pablo">
                                        <img _ngcontent-c4="" class="img img-raised rounded" src="assets/img/examples/card-blog13.jpg">
                                    </a>
                                </div>
                                <h6 _ngcontent-c4="" class="category text-info">Fashion</h6>-->
                                <h3 _ngcontent-c4="" class="card-title">
                                    <a _ngcontent-c4="">Groupon Moves Into Flash Fashion</a>
                                </h3>
                                <h4 _ngcontent-c4="" class="card-description"> More acquisitions for Groupon to widen the net of consumers using its platform for more than daily deals. Today it is announcing the acquisition of ideeli, a flash fashion retailer, for $43 million in... </h4>
                                <h5 _ngcontent-c4="" class="card-description"> More acquisitions for Groupon to widen the net of consumers using its platform for more than daily deals. Today it is announcing the acquisition of ideeli, a flash fashion retailer, for $43 million in... </h5>
                                <h5 _ngcontent-c4="" class="card-description"> More acquisitions for Groupon to widen the net of consumers using its platform for more than daily deals. Today it is announcing the acquisition of ideeli, a flash fashion retailer, for $43 million in... </h5>
                                <!--<a _ngcontent-c4="" class="btn btn-primary btn-round" href="#pablo">Read More</a>-->

                                <!-- Footer -->
                                <footer _ngcontent-c4="" class="page-footer font-small blue pt-4">
                                    <div class="container-fluid text-center text-md-left">                            
                                        <div class="row">                                
                                            <div class="col-lg">
                                                <!--<ul class="links-vertical" class="text-dark">-->
                                                    Bookmarks
                                                <!--</ul>-->
                                            </div>
                                            <div class="col-lg">
                                                <!--<ul class="links-vertical" class="text-dark">-->
                                                    Price
                                                <!--</ul>-->
                                            </div>
                                            <div class="col-lg">
                                                <!--<ul class="links-vertical" class="text-dark">-->
                                                    Duration
                                                <!--</ul>-->
                                            </div>
                                            <div class="col-lg">
                                                <!--<ul class="links-vertical" class="text-dark">-->
                                                    Accessibility
                                                <!--</ul>-->
                                            </div>                                
                                        </div>
                                    </div>
                                </footer>
                                <!-- Footer -->
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-Destination-->
        </div>        
        <!--Slider photos-->
        <div _ngcontent-c4="" class="blogs-4" id="blogs-4">
            <div _ngcontent-c4="" class="container">
                <div class="header-3">
                    <ngb-carousel>
                      <ng-template ngbSlide>
                        <div class="page-header header-filter">
                          <div class="page-header-image" style="background-image: url('assets/img/bg20.jpg');"></div>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <div class="page-header header-filter">
                          <div class="page-header-image" style="background-image: url('assets/img/bg15.jpg');"></div>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <div class="page-header header-filter">
                          <div class="page-header-image" style="background-image: url('assets/img/bg17.jpg');"></div>
                        </div>
                      </ng-template>
                    </ngb-carousel>
                </div>
                <br>
                <div _ngcontent-c4="" class="row">
                    
                    <div _ngcontent-c4="" class="card card-plain card-blog">
                        <h5 _ngcontent-c4="" class="card-description"> More acquisitions for Groupon to widen the net of consumers using its platform for more than daily deals. Today it is announcing the acquisition of ideeli, a flash fashion retailer, for $43 million in... </h5>
                    </div>
                </div>
            
            </div>
            <br>
        </div>
        <!--Slider photos-->

        <div _ngcontent-c4="" class="card card-plain card-blog">
            <div _ngcontent-c4="" class="container">
                <div _ngcontent-c4="" class="row">
                    <div _ngcontent-c4="" class="col-md-10 ml-auto mr-auto">
                        <h2 _ngcontent-c4="" class="title"> Tour Itinerari</h2>
                        <h3 _ngcontent-c4="" class="card-description"> More acquisitions for Groupon to widen the net of consumers using its platform for more than daily deals. Today it is announcing the acquisition of ideeli, a flash fashion retailer, for $43 million in... </h3>
                        <h2 _ngcontent-c4="" class="title"> Requeriments</h2>
                        <h3 _ngcontent-c4="" class="card-description"> More acquisitions for Groupon to widen the net of consumers using its platform for more than daily deals. Today it is announcing the acquisition of ideeli, a flash fashion retailer, for $43 million in... </h3>
                        <h2 _ngcontent-c4="" class="title"> Pricing, booking</h2>
                        <h3 _ngcontent-c4="" class="card-description"> More acquisitions for Groupon to widen the net of consumers using its platform for more than daily deals. Today it is announcing the acquisition of ideeli, a flash fashion retailer, for $43 million in... </h3>

                        <!--pricing panel-->
                        <div _ngcontent-c7="" class="section related-products" data-background-color="black">
                            <div _ngcontent-c7="" class="container">
                                <h3 _ngcontent-c7="" class="title text-center">You may also be interested in:</h3>
                                <div _ngcontent-c7="" class="row">
                                    <div _ngcontent-c7="" class="col-sm-6 col-md-3">
                                        <div _ngcontent-c7="" class="card card-product">
                                            <div _ngcontent-c7="" class="card-image">
                                                <a _ngcontent-c7="" href="#pablo">
                                                    <img _ngcontent-c7="" class="img rounded" src="assets/img/saint-laurent.jpg">
                                                </a>
                                            </div>
                                            <div _ngcontent-c7="" class="card-body">
                                                <h6 _ngcontent-c7="" class="category text-danger">Trending</h6>
                                                <h4 _ngcontent-c7="" class="card-title">
                                                    <a _ngcontent-c7="" class="card-link" href="#pablo">Dolce &amp; Gabbana</a>
                                                </h4>
                                                <div _ngcontent-c7="" class="card-description"> Dolce &amp; Gabbana's 'Greta' tote has been crafted in Italy from hard-wearing red textured-leather. </div>
                                                <div _ngcontent-c7="" class="card-footer">
                                                    <div _ngcontent-c7="" class="price-container">
                                                        <span _ngcontent-c7="" class="price">€1,459</span>
                                                    </div>
                                                    <button _ngcontent-c7="" class="btn btn-neutral btn-icon btn-round pull-right" ngbtooltip="Add to wishlist" placement="top" ng-reflect-placement="top" ng-reflect-ngb-tooltip="Add to wishlist">
                                                        <i _ngcontent-c7="" class="now-ui-icons ui-2_favourite-28"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div _ngcontent-c7="" class="col-sm-6 col-md-3">
                                        <div _ngcontent-c7="" class="card card-product">
                                            <div _ngcontent-c7="" class="card-image">
                                                <a _ngcontent-c7="" href="#pablo">
                                                    <img _ngcontent-c7="" class="img rounded" src="assets/img/gucci.jpg">
                                                </a>
                                            </div>
                                            <div _ngcontent-c7="" class="card-body">
                                                <h6 _ngcontent-c7="" class="category text-muted">Popular</h6>
                                                <h4 _ngcontent-c7="" class="card-title">
                                                    <a _ngcontent-c7="" class="card-link" href="#pablo">Balmain</a>
                                                </h4>
                                                <div _ngcontent-c7="" class="card-description"> Balmain's mid-rise skinny jeans are cut with stretch to ensure they retain their second-skin fit but move comfortably. </div>
                                                <div _ngcontent-c7="" class="card-footer">
                                                    <div _ngcontent-c7="" class="price-container">
                                                        <span _ngcontent-c7="" class="price">€459</span>
                                                    </div>
                                                    <button _ngcontent-c7="" class="btn btn-neutral btn-icon btn-round pull-right" ngbtooltip="Add to wishlist" placement="top" ng-reflect-placement="top" ng-reflect-ngb-tooltip="Add to wishlist">
                                                        <i _ngcontent-c7="" class="now-ui-icons ui-2_favourite-28"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div _ngcontent-c7="" class="col-sm-6 col-md-3">
                                        <div _ngcontent-c7="" class="card card-product">
                                            <div _ngcontent-c7="" class="card-image">
                                                <a _ngcontent-c7="" href="#pablo">
                                                    <img _ngcontent-c7="" class="img rounded" src="assets/img/wooyoungmi.jpg">
                                                </a>
                                            </div>
                                            <div _ngcontent-c7="" class="card-body">
                                                <h6 _ngcontent-c7="" class="category text-muted">Popular</h6>
                                                <h4 _ngcontent-c7="" class="card-title">
                                                    <a _ngcontent-c7="" class="card-link" href="#pablo">Balenciaga</a>
                                                </h4>
                                                <div _ngcontent-c7="" class="card-description"> Balenciaga's black textured-leather wallet is finished with the label's iconic 'Giant' studs. This is where you can... </div>
                                                <div _ngcontent-c7="" class="card-footer">
                                                    <div _ngcontent-c7="" class="price-container">
                                                        <span _ngcontent-c7="" class="price">€559</span>
                                                    </div>
                                                    <button _ngcontent-c7="" class="btn btn-neutral btn-icon btn-round pull-right" ngbtooltip="Add to wishlist" placement="top" ng-reflect-placement="top" ng-reflect-ngb-tooltip="Add to wishlist"><i _ngcontent-c7="" class="now-ui-icons ui-2_favourite-28"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div _ngcontent-c7="" class="col-sm-6 col-md-3">
                                        <div _ngcontent-c7="" class="card card-product">
                                            <div _ngcontent-c7="" class="card-image">
                                                <a _ngcontent-c7="" href="#pablo">
                                                    <img _ngcontent-c7="" class="img rounded" src="assets/img/saint-laurent1.jpg">
                                                </a>
                                            </div>
                                            <div _ngcontent-c7="" class="card-body">
                                                <h6 _ngcontent-c7="" class="category text-rose">Trending</h6>
                                                    <h4 _ngcontent-c7="" class="card-title">
                                                        <a _ngcontent-c7="" class="card-link" href="#pablo">Dolce &amp; Gabbana</a>
                                                    </h4>
                                                    <div _ngcontent-c7="" class="card-description"> Dolce &amp; Gabbana's 'Greta' tote has been crafted in Italy from hard-wearing red textured-leather. </div>
                                                    <div _ngcontent-c7="" class="card-footer">
                                                        <div _ngcontent-c7="" class="price-container">
                                                            <span _ngcontent-c7="" class="price"> € 1,359</span>
                                                        </div>
                                                        <button _ngcontent-c7="" class="btn btn-neutral btn-icon btn-round pull-right" ngbtooltip="Add to wishlist" placement="top" ng-reflect-placement="top" ng-reflect-ngb-tooltip="Add to wishlist">
                                                            <i _ngcontent-c7="" class="now-ui-icons ui-2_favourite-28"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--pricing panel-->

                        <h2 _ngcontent-c4="" class="title"> Additional Info</h2>
                        <h3 _ngcontent-c4="" class="card-description"> More acquisitions for Groupon to widen the net of consumers using its platform for more than daily deals. Today it is announcing the acquisition of ideeli, a flash fashion retailer, for $43 million in... </h3>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <br _ngcontent-c4="">
</div>
<!--<app-landing-page></app-landing-page>-->

<app-footer></app-footer>