<nav _ngcontent-c3="" class="navbar navbar-expand-lg" style="background-color:#E64A19;">
  <div _ngcontent-c3="" class="container">
    <div _ngcontent-c3="" class="navbar-translate">
      <a _ngcontent-c3=""[routerLink]="['/landing']">
        <img class="img-thumbnail" alt="Responsive image" style="height: 50px;background: transparent;" src="{{'assets/img/logo_Historiske-Trondelag_H.png'}}" />
      </a>
    </div>
    <div _ngcontent-c3="">
      <ul _ngcontent-c3="" class="navbar-nav ml-auto">
        <!--<li _ngcontent-c3="" class="nav-item active">
          <a _ngcontent-c3="" class="nav-link" [routerLink]="['/landing']">
            <p _ngcontent-c3="">HOME</p>
          </a>
        </li>
        <li _ngcontent-c3="" class="nav-item">
          <a _ngcontent-c3="" class="nav-link" [routerLink]="['/landing']">
            <p _ngcontent-c3="">hva skjer nå?</p>
          </a>
        </li>-->
        <li _ngcontent-c3="" class="nav-item">
          <a _ngcontent-c3="" class="nav-link" [routerLink]="['/destinations']">
            <p _ngcontent-c3="">Destinasjoner</p>
          </a>
        </li>
        <li _ngcontent-c3="" class="nav-item">
          <a _ngcontent-c3="" class="nav-link" [routerLink]="['/activities']">
            <p _ngcontent-c3="">Turer og aktiviteter</p>
          </a>
        </li>
        <li _ngcontent-c3="" class="nav-item">
          <a _ngcontent-c3="" class="nav-link" [routerLink]="['/stories']">
            <p _ngcontent-c3="">Historier</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
