<nav _ngcontent-c3="" class="navbar navbar-expand-lg bg-primary">
  <div _ngcontent-c3="" class="container">
    <div _ngcontent-c3="" class="navbar-translate">
      <a _ngcontent-c3="" class="navbar-brand">TRONDELAG KRIGSPOR</a>
    </div>
    <div _ngcontent-c3="" class="collapse navbar-collapse" id="example-navbar-primary">
      <ul _ngcontent-c3="" class="navbar-nav ml-auto">
        <li _ngcontent-c3="" class="nav-item">
          <a _ngcontent-c3="" class="nav-link" [routerLink]="['/landing']">
            <!--<i _ngcontent-c3="" class="now-ui-icons shopping_shop"></i>-->
            <p _ngcontent-c3="">HOME</p>
          </a>
        </li>
        <li _ngcontent-c3="" class="nav-item">
          <a _ngcontent-c3="" class="nav-link" [routerLink]="['/destination/0']">
            <!--<i _ngcontent-c3="" class="now-ui-icons users_circle-08"></i>-->
            <p _ngcontent-c3="">DESTINATIONS</p>
          </a>
        </li>
        <li _ngcontent-c3="" class="nav-item">
          <a _ngcontent-c3="" class="nav-link" [routerLink]="['/activity/0']">
            <!--<i _ngcontent-c3="" class="now-ui-icons users_circle-08"></i>-->
            <p _ngcontent-c3="">ACTIVITIES</p>
          </a>
        </li>
        <li _ngcontent-c3="" class="nav-item">
          <a _ngcontent-c3="" class="nav-link" [routerLink]="['/story/0']">
            <!--<i _ngcontent-c3="" class="now-ui-icons ui-1_settings-gear-63"></i>-->
            <p _ngcontent-c3="">STORIES</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
