<!--     *********    BIG BlACK FOOTER     *********      -->
<footer class="footer footer-big" style="background-color:#E64A19;">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-2">
                    <ul class="links-vertical" class="text-white">
                        <li>
                            <a href="#pablo" >
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#pablo">
                                What's on now?
                            </a>
                        </li>
                        <li>
                            <a href="#pablo">
                                Activities
                            </a>
                        </li>
                        <li>
                            <a href="#pablo">
                                Destinations
                            </a>
                        </li>
                        <li>
                            <a href="#pablo">
                                Stories
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="links-vertical" class="text-white">
                        <li>
                            <a href="#pablo" class="text-white">
                                Contribute content
                            </a>
                        </li>
                        <li>
                            <a href="#pablo">
                                Collaborate
                            </a>
                        </li>
                        <li>
                            <a href="#pablo">
                                Contact
                            </a>
                        </li>
                        <li>
                            <a href="#pablo">
                                Profesionals
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="links-vertical" class="text-white">
                        <li>
                            <a href="#pablo">
                                Privacy policy
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="links-vertical" class="text-white">
                        <li>
                            <a href="#pablo">
                                Trondelag Historiske Norge
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="social-buttons">
                        <li>
                            <a href="#pablo" class="btn btn-icon btn-neutral btn-twitter btn-round">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#pablo" class="btn btn-icon btn-neutral btn-google btn-round">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#pablo" class="btn btn-icon btn-neutral btn-instagram btn-round">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--<div class="col-md-4">
                    <h5>Social Feed</h5>
                    <div class="social-feed">
                        <div class="feed-line">
                            <i class="fa fa-twitter"></i>
                            <p>How to handle ethical disagreements with your clients.</p>
                        </div>
                        <div class="feed-line">
                            <i class="fa fa-twitter"></i>
                            <p>The tangible benefits of designing at 1x pixel density.</p>
                        </div>
                        <div class="feed-line">
                            <i class="fa fa-facebook-square"></i>
                            <p>A collection of 25 stunning sites that you can use for inspiration.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>Follow Us</h5>
                    <ul class="social-buttons">
                        <li>
                            <a href="#pablo" class="btn btn-icon btn-neutral btn-twitter btn-round">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#pablo" class="btn btn-icon btn-neutral btn-facebook btn-round">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#pablo" class="btn btn-icon btn-neutral btn-dribbble btn-round">
                                <i class="fa fa-dribbble"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#pablo" class="btn btn-icon btn-neutral btn-google btn-round">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#pablo" class="btn btn-icon btn-neutral btn-instagram btn-round">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <h5>
                        <small>Numbers Don't Lie</small>
                    </h5>
                    <h5>14.521
                        <small class="text-muted">Freelancers</small>
                    </h5>
                    <h5>1.423.183
                        <small class="text-muted">Transactions</small>
                    </h5>
                </div>-->
            </div>
        </div>
        <hr />
        <div class="copyright" class="text-white">
            Copyright &copy;
            {{data | date: 'yyyy'}} Creative Tim All Rights Reserved.
        </div>
    </div>
</footer>
<!--     *********   END BIG WHITE FOOTER     *********      -->