<div class="header-3">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="page-header header-filter">
        <div class="page-header-image" style="background-image: url('assets/img/bg20.jpg');"></div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="page-header header-filter">
        <div class="page-header-image" style="background-image: url('assets/img/bg15.jpg');"></div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="page-header header-filter">
        <div class="page-header-image" style="background-image: url('assets/img/bg17.jpg');"></div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

