<app-header></app-header>

<!-- The video -->
<video autoplay muted looponcanplay="this.play()" onloadedmetadata="this.muted = true" id="myVideo">
    <source src="{{'assets/video/earth.mp4'}}" type="video/mp4">
</video>

<div class="main">
    <div class="container">
      <div class="section">
        <br />
        <div class="row">
          <div *ngFor="let item of tableDestination" class="col-md-5">
            <div _ngcontent-c1="" class="col">
                <br _ngcontent-c1="">
                <div _ngcontent-c1="" class="card card-plain card-blog">
                  <div _ngcontent-c1="" class="row">
                    <div _ngcontent-c1="" class="col">
                      <div _ngcontent-c1="" class="card-image">
                        <a [routerLink]="['/destination/', item.id]">
                          <img _ngcontent-c1="" class="img img-raised rounded" style="width: 250px;height: 200px;" src="{{'/assets/img/'+item.cardimg}}">
                        </a>
                      </div>
                    </div>
                    <div _ngcontent-c1="" class="col">
                      <h3 _ngcontent-c1="" class="card-title">
                        <a _ngcontent-c1="" [routerLink]="['/destination/', item.id]">{{item.cardtitle}}</a>
                      </h3>
                      <p _ngcontent-c1="" class="card-description"> {{item.carddescription}} 
                        <!--<a _ngcontent-c1="" [routerLink]="['/activity/', item.id]"> Read More </a>-->
                      </p>
                    </div>
                  </div>
                </div>
              </div>      
          </div>
        </div>
      </div>
    </div>
</div>

<app-footer></app-footer>
