<app-header></app-header>

<div class="page-header page-header-small embed-responsive" *ngIf="!haveImagesCarousel" id="animationFadeIn02">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" [style.backgroundImage] = "'url(assets/img/' + row.cardimg + ')'"></div>
    <h1 class="title" id="titleCarousel">{{row.cardtitle}}</h1>
</div>

<div *ngIf="haveImagesCarousel" id="animationFadeIn02"> 
    <app-carousel></app-carousel>
    <h1 class="title" id="titleCarousel">{{row.cardtitle}}</h1>
</div>

<div class="section section-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h4 class="description" id="animationFadeIn06">{{row.carddescription}}</h4>
                <div>
                    <p class="title" id="animationFadeIn1"> {{row.itin1}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-about-us">
    <div class="container">
        <div class="separator separator-primary">
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6" id="animationFadeIn14">
                        <!-- First image on the left side -->
                        <div class="image-container image-left"  [style.backgroundImage] = "'url(assets/img/' + row.imgleft + ')'">
                            <p class="blockquote blockquote-primary">{{row.blockquote}}
                                <br>
                                <br>
                                <!--<small>-NOAA</small>-->
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container image-left-bottom" [style.backgroundImage] = "'url(assets/img/' + row.imgleftbottom + ')'"></div>
                    </div>
                    <div class="col-md-5" id="animationFadeIn18">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" [style.backgroundImage] = "'url(assets/img/' + row.imgright + ')'"></div>
                        <p>{{row.p1}}</p>
                        <p>{{row.p2}}</p>
                        <p>{{row.p3}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section" style="background-color:#e4e1db;">
    <br _ngcontent-c1="">
    <div class="container">
        <div class="row">
            <div class="col-7" style="padding: 0 50px;">
                <h3 class="" style="font: bold;">Reiserute (Itinerary, full)</h3>
                <!--<p class="">{{row.itin2}}</p>-->
                <ul style="padding-left: 20px;">
                    <li *ngFor="let split of splits">{{split}}</li>
                </ul>
                <hr class="style1">
                <h4>What's included</h4>
                <p>{{row.itin2}}</p>
                <h4 *ngIf="row.itin2" style="font: bold;">What's not included</h4>
                <p *ngIf="row.itin2">{{row.itin2}}</p>
                <hr class="style1">
                <h4>Practical information</h4>
                <hr class="style1">
                <h4>FAQ</h4>
            </div>
            <div class="col">
                <div class="row" style="margin-top: 3em;width:100%;margin-right: 0%;">
                    <div class="container" style="padding-left: 0%;background-color:white;">
                        <div class="row" style="margin-bottom: 10%;margin-top: 20px;">
                            <div class="col-md-7">
                                <p style="float: left;"><img class="img rounded" src="assets/img/icons/open-book_black.png" style="width: 30px;height: 30px;background-color: transparent;background-repeat: no-repeat;background-position: center center;background-size: cover;overflow: hidden;margin-right: 20px; margin-left: 20px;align-content: left;"/></p>
                                <p>Startdato</p>
                            </div>
                            <div class="col-md-5 text-right">                            
                                <p class="form-control text-info text-left" type="text">23 Mai 2020</p>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10%;">
                            <div class="col-md-7">
                                <p style="float: left;"><img class="img rounded" src="assets/img/icons/clock_black.png" style="width: 30px;height: 30px;background-color: transparent;background-repeat: no-repeat;background-position: center center;background-size: cover;overflow: hidden;margin-right: 20px; margin-left: 20px;align-content: left;"/></p>
                                <p>Starttid</p>
                            </div>
                            <div class="col-md-5 text-right">
                                <p class="form-control text-info text-left" type="text">09:15</p>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10%;">
                            <div class="col-md-7">
                                <p style="float: left;"><img class="img rounded" src="assets/img/icons/parent-child1_black.png" style="width: 30px;height: 30px;background-color: transparent;background-repeat: no-repeat;background-position: center center;background-size: cover;overflow: hidden;margin-right: 20px; margin-left: 20px;align-content: left;"/></p>
                                <p>Personer</p>
                            </div>
                            <div class="col-md-5 text-right">
                                <p class="form-control text-info text-left" type="text">2 voksne, 3 barn</p>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10%;">
                            <div class="col-md-7">
                                <p style="float: left;"><img class="img rounded" src="assets/img/icons/open-book_black.png" style="width: 30px;height: 30px;background-color: transparent;background-repeat: no-repeat;background-position: center center;background-size: cover;overflow: hidden;margin-right: 20px; margin-left: 20px;align-content: left;"/></p>
                                <p>Sprak</p>
                            </div>
                            <div class="col-md-5 text-right">
                                <p class="form-control text-info text-left" type="text">Norsk</p>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10%;">
                            <div class="col-md-7">
                                <p style="float: left;"><img class="img rounded" src="assets/img/icons/access-person_black.png" style="width: 30px;height: 30px;background-color: transparent;background-repeat: no-repeat;background-position: center center;background-size: cover;overflow: hidden;margin-right: 20px; margin-left: 20px;align-content: left;"/></p>
                                <p>Spesialieter</p>
                            </div>
                            <div class="col-md-5 text-right">
                                <p class="form-control text-info text-left" type="text">5 x lydguide</p>
                            </div>
                        </div>
                        <hr class="style1">
                        <p class="text-right text-info" style="font-size: 25pt;"><b>NOK 350</b></p>
                        <p class="text-right text-info" style="font-size: 25pt;"><b>Euros 35</b></p>
                        <div class="form-group">
                            <button class="btn btn-primary btn-simple btn-round float-right" type="button" style="border-color: #2CA8FF;background-color: #2CA8FF;color: white;">Reservere</button>
                            <button class="btn btn-primary btn-simple btn-round float-right " type="button" style="border-color: #2CA8FF;color: #2CA8FF;border: 2px solid;margin-right: 10px;">Sporre</button>
                        </div>
                    </div>
                </div>
                <div class="row" style="background-color: #e4e1db;">
                    <div class="container">
                        
                    </div>
                </div> 
            </div>
        </div>        
        <br _ngcontent-c1="">
    </div>
</div>

<div class="section" style="padding-top: 0em;background-color:#e4e1db;">
    <br _ngcontent-c1="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11">
                <img class="image-container img-responsive" src = "{{'assets/img/'+ row.mapImg}}">
            </div>                            
        </div>
    </div>    
</div>

<app-footer></app-footer>
