<app-header></app-header>

<!--welcome, introduction-->
<div class="container-fluid h-1">
    <div class="section">
        <div class= "row" style="background-color:#E64A19;" >
            <!--<h4 class="title">Historiske Trøndelag</h4>-->
            <h4 _ngcontent-c4="" class="description text-black text-center">Ta Trøndelag ut av historiebøkene, og vi har bare permene igjen", heter det i et kjent norsk sitat. Fylket bugner av kulturminner fra steinalder til i dag. Her holdt store vikinger til, her ble det skrevet religionshistorie og trønderne er fortsatt beryktet for sitt særegne lynne. I Trøndelag kan du følge historien fra tidenes morgen til i dag.</h4>
        </div>
    </div>    
</div>
<!--welcome, introduction-->

<div class="main">
    <div class="container">
      <div class="section">
        <br />
        <div class="row">
          <div _ngcontent-c1="" class="col-lg">
            <div class="card card-plain card-blog">
              <div class="card-image">
                <a [routerLink]="['/destination']">
                  <img class="img rounded img-raised" src="{{'assets/img/bg1.jpg'}}" />
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title text-center">
                  <a [routerLink]="['/destination']">titulo</a>
                </h4>
              </div>
            </div>
          </div>
          <div _ngcontent-c1="" class="col-lg">
            <div class="card card-plain card-blog">
              <div class="card-image">
                <a [routerLink]="['/destination']">
                  <img class="img rounded img-raised" src="{{'assets/img/bg1.jpg'}}" />
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title text-center">
                  <a [routerLink]="['/destination']">titulo</a>
                </h4>
              </div>
            </div>
          </div>
          <div _ngcontent-c1="" class="col-lg">
            <div class="card card-plain card-blog">
              <div class="card-image">
                <a [routerLink]="['/destination']">
                  <img class="img rounded img-raised" src="{{'assets/img/bg1.jpg'}}" />
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title text-center">
                  <a [routerLink]="['/destination']">titulo</a>
                </h4>
              </div>
            </div>
          </div>
          <div _ngcontent-c1="" class="col-lg">
            <div class="card card-plain card-blog">
              <div class="card-image">
                <a [routerLink]="['/destination']">
                  <img class="img rounded img-raised" src="{{'assets/img/bg1.jpg'}}" />
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title text-center">
                  <a [routerLink]="['/destination']">titulo</a>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="container">
      <div class="section">
        <div _ngcontent-c1="" class="container-fluid h-1" style="background-color:rgb(255, 255, 255);">
            <br _ngcontent-c1="">
            <h1 _ngcontent-c1="" class="description text-black font-weight-border">Museer og opplevelser</h1>
            <br _ngcontent-c1="">
        </div>
        <div class="row">
          <div _ngcontent-c1="" class="col-lg">
            <div class="card card-plain card-blog">
              <div class="card-image">
                <a [routerLink]="['/destination']">
                  <img class="img rounded img-raised" src="{{'assets/img/bg1.jpg'}}" />
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title text-center">
                  <a [routerLink]="['/destination']">titulo</a>
                </h4>
              </div>
            </div>
          </div>
          <div _ngcontent-c1="" class="col-lg">
            <div class="card card-plain card-blog">
              <div class="card-image">
                <a [routerLink]="['/destination']">
                  <img class="img rounded img-raised" src="{{'assets/img/bg1.jpg'}}" />
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title text-center">
                  <a [routerLink]="['/destination']">titulo</a>
                </h4>
              </div>
            </div>
          </div>
          <div _ngcontent-c1="" class="col-lg">
            <div class="card card-plain card-blog">
              <div class="card-image">
                <a [routerLink]="['/destination']">
                  <img class="img rounded img-raised" src="{{'assets/img/bg1.jpg'}}" />
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title text-center">
                  <a [routerLink]="['/destination']">titulo</a>
                </h4>
              </div>
            </div>
          </div>        
        </div>
      </div>
    </div>
  </div>

  <div class="main">
    <div _ngcontent-c4="" class="blogs-3">
      <div _ngcontent-c4="" class="container">
          <div class="section">
            <div _ngcontent-c4="" class="col-md-10 ml-auto mr-auto">
                <br _ngcontent-c4="">
                <div _ngcontent-c4="" class="card card-plain card-blog">
                  <div _ngcontent-c4="" class="row">
                    <div _ngcontent-c4="" class="col-md-4">
                      <div _ngcontent-c4="" class="card-image">
                        <a [routerLink]="['/activity']">
                          <img _ngcontent-c4="" class="img img-raised rounded" src="{{'assets/img/bg1.jpg'}}">
                        </a>
                      </div>
                    </div>
                    <div _ngcontent-c4="" class="col-md-8">
                      <h3 _ngcontent-c4="" class="card-title">
                        <a _ngcontent-c4="" [routerLink]="['/activity']">Titulo</a>
                      </h3>
                      <p _ngcontent-c4="" class="card-description"> Descripcion
                        <a _ngcontent-c4="" [routerLink]="['/activity']"> Read More </a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>

<app-footer></app-footer>