<app-header></app-header>
<div>
    <!--<div class="cards">
        <div class="card card-blog">
            <div class="card-image">
                <img class="img rounded" src="{{row.media}}">
            </div>
            <div class="card-body">
                <h6 class="category text-warning">
                    <i class="now-ui-icons media-1_camera-compact"></i> {{row.title}}
                </h6>
                <h5 class="card-title">
                    <a href="#pablo">{{row.p1}}</a>
                </h5>
                <div class="card-footer">
                    <div class="stats stats-right">
                        <i class="now-ui-icons ui-2_favourite-28"></i> 342 ·
                        <i class="now-ui-icons files_single-copy-04"></i> 45
                    </div>
                    <div class="author">
                        <img src="assets/img/james.jpg" alt="..." class="avatar img-raised">
                        <span>{{row.p1}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <div _ngcontent-c4="" class="blogs-4" id="blogs-4">
        <div _ngcontent-c4="" class="container">
            <div _ngcontent-c4="" class="row">
                <div _ngcontent-c4="" class="col-md-8 ml-auto mr-auto">
                    <h2 _ngcontent-c4="" class="title">Latest Blogposts 4</h2>
                    <br _ngcontent-c4="">
                    <div _ngcontent-c4="" class="card card-plain card-blog">
                        <div _ngcontent-c4="" class="card-image">
                            <a _ngcontent-c4="" href="#pablo">
                                <img _ngcontent-c4="" class="img img-raised rounded" src="assets/img/examples/card-blog13.jpg">
                            </a>
                        </div>
                        <h6 _ngcontent-c4="" class="category text-info">Fashion</h6>
                        <h3 _ngcontent-c4="" class="card-title">
                            <a _ngcontent-c4="" href="#pablo">Groupon Moves Into Flash Fashion</a>
                        </h3>
                        <h5 _ngcontent-c4="" class="card-description"> More acquisitions for Groupon to widen the net of consumers using its platform for more than daily deals. Today it is announcing the acquisition of ideeli, a flash fashion retailer, for $43 million in... </h5>
                        <a _ngcontent-c4="" class="btn btn-primary btn-round" href="#pablo">Read More</a>
                    </div>
                    <div _ngcontent-c4="" class="card card-plain card-blog">
                        <div _ngcontent-c4="" class="card-image">
                            <a _ngcontent-c4="" href="#pablo">
                                <img _ngcontent-c4="" class="img img-raised rounded" src="assets/img/examples/card-blog14.jpg">
                            </a>
                        </div>
                        <h6 _ngcontent-c4="" class="category text-success">Entertainment</h6>
                        <h3 _ngcontent-c4="" class="card-title">
                            <a _ngcontent-c4="" href="#pablo">When music and technology collide</a>
                        </h3>
                        <h5 _ngcontent-c4="" class="card-description"> Some might say that technology is killing the music industry. But if you look around, there’s a beautiful marriage there — the music industry is evolving every day, and artists are embracing technology in new and innovative ways... </h5>
                        <a _ngcontent-c4="" class="btn btn-primary btn-round" href="#pablo"> Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

