<div class="section">
  <div class="container">
      <a [routerLink]="['/destinations']">
        <h2 _ngcontent-c4="" class="text-black" id="animationFadeIn04">Destinasjoner</h2>
      </a>
      <br />
      <div class="row">
        <div class="col-md-3" *ngFor="let item of tableDestinations">
          <div class="card card-plain card-blog">
            <div class="card-image" >
              <a [routerLink]="['/destination/', item.id]">
                <img class="img rounded img-raised" style="width: 250px;height: 200px;" src="{{'assets/img/'+item.cardimg}}" id="animationFadeIn06" />
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title" id="animationFadeIn12">
                <a [routerLink]="['/destination/', item.id]">{{item.cardtitle}}</a>
              </h4>
              <p class="card-description" id="animationFadeIn2">
                {{item.carddescription}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>