<div class="section">
  <div class="container">
      <a [routerLink]="['/destinations']">
        <h2 _ngcontent-c4="" class="text-black">Destinasjoner</h2>
      </a>
      <br />
      <div class="row">
        <div class="col-md-3" *ngFor="let item of tableDestinations">
          <div class="card card-plain card-blog">
            <div class="card-image">
              <a [routerLink]="['/destination/', item.id]">
                <img class="img rounded img-raised" style="width: 250px;height: 200px;" src="{{item.cardImgUrl}}" />
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title">
                <a [routerLink]="['/destination/', item.id]">{{item.cardTitle}}</a>
              </h4>
              <p class="card-description">
                {{item.cardDescription}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
