<div class="section">
  <div class="container">
      <a [routerLink]="['/destinations']">
        <h2 _ngcontent-c4="" class="text-black" id="animationFadeIn04">Destinasjoner</h2>
      </a>
      <br />
      <div class="row">
        <div class="col-md-3" *ngFor="let item of tableDestinations">
          <div class="card card-plain card-blog">
            <div class="card-image img rounded img-raised wrapper" id="animationFadeIn08" [style.backgroundImage] = "'url(assets/img/' + item.cardimg + ')'" [routerLink]="['/destination/', item.id]"></div>
            <div class="card-body">
              <h4 class="card-title" id="animationFadeIn12">
                <a [routerLink]="['/destination/', item.id]">{{item.cardtitle}}</a>
              </h4>
              <p class="card-description" id="animationFadeIn16">
                {{item.carddescription}}
              </p>
            </div>
            <img class="img rounded" src="assets/img/footerCard.png"/>
            <!--<div class="container">
              <div class="row">
                <div class="col-xs" style="margin-left: 5px;margin-right: 10px;margin-top: 10px;">
                  <i class='far fa-bookmark'></i>
                </div>
                <div class="col-xs" style="margin-right: 10px;margin-top: 10px;">
                  <i class='fas fa-share-alt'></i>
                </div>
                <div class="col-xs">
                  <button class="btn btn-primary btn-sm btn-simple btn-round" type="button" style="border-color: black;border: 2px solid;">Aktiviteter</button>
                </div>
                <div class="col-xs">
                  <button class="btn btn-primary btn-sm btn-simple btn-round" type="button" style="border-color: black;border: 2px solid;">Historier</button>
                </div>
              </div>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>