<div >
    <div class="cards">
        <div class="card card-blog">
            <div class="card-image">
                <img class="img rounded" src="{{article.media}}">
            </div>
            <div class="card-body">
                <h6 class="category text-warning">
                    <i class="now-ui-icons media-1_camera-compact"></i> {{article.title}}
                </h6>
                <h5 class="card-title">
                    <a href="#pablo">{{article.text1}}</a>
                </h5>
                <div class="card-footer">
                    <div class="stats stats-right">
                        <i class="now-ui-icons ui-2_favourite-28"></i> 342 ·
                        <i class="now-ui-icons files_single-copy-04"></i> 45
                    </div>
                    <div class="author">
                        <img src="assets/img/james.jpg" alt="..." class="avatar img-raised">
                        <span>{{article.text1}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a [routerLink]="['/destination/6']" routerDirection="forward">Contacts</a>
</div>