<!--<div class="main">
  <div class="container">
    <div class="section">
      <h2 _ngcontent-c4="">Activities</h2>
      <br />
      <div class="row">
        <div class="col-md-3" *ngFor="let item of tableActivities">
          <div class="card card-plain card-blog">
            <div class="card-image">
              <a [routerLink]="['/activity/', item.id]">
                <img class="img rounded img-raised" src="{{item.media}}" />
              </a>
            </div>
            <div class="card-body">
              <h6 class="category text-info">{{item.abstract}}</h6>
              <h4 class="card-title">
                <a [routerLink]="['/activity/', item.id]">{{item.title}}</a>
              </h4>
              <p class="card-description">
                {{item.abstract}}
                <a [routerLink]="['/activity/', item.id]">Read More</a>
              </p>
              <div class="author">
                <img src="assets/img/olivia.jpg" alt="..." class="avatar img-raised" />
                <span>Anna Spark</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->

<div class="main">
  <div _ngcontent-c4="" class="blogs-3">
    <div _ngcontent-c4="" class="container">
      <h2 _ngcontent-c4="">Activities</h2>
      <div _ngcontent-c4="" class="row" *ngFor="let item of tableActivities">
        <div _ngcontent-c4="" class="col-md-10 ml-auto mr-auto">
          <br _ngcontent-c4="">
          <div _ngcontent-c4="" class="card card-plain card-blog">
            <div _ngcontent-c4="" class="row">
              <div _ngcontent-c4="" class="col-md-4">
                <div _ngcontent-c4="" class="card-image">
                  <a [routerLink]="['/activity/', item.id]">
                    <img _ngcontent-c4="" class="img img-raised rounded" src="{{'/assets/img/'+item.media}}">
                  </a>
                </div>
              </div>
              <div _ngcontent-c4="" class="col-md-8">
                <h3 _ngcontent-c4="" class="card-title">
                  <a _ngcontent-c4="" [routerLink]="['/activity/', item.id]">{{item.title}}</a>
                </h3>
                <p _ngcontent-c4="" class="card-description"> {{item.p1}} 
                  <a _ngcontent-c4="" [routerLink]="['/activity/', item.id]"> Read More </a>
                </p>
                <!--<div _ngcontent-c4="" class="author">
                  <img _ngcontent-c4="" alt="..." class="avatar img-raised" src="assets/img/olivia.jpg">
                  <span _ngcontent-c4="">Katie Roof</span>
                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
