<div *ngIf="row.teasertype == 'sketchfab'">
    <app-model-viewer></app-model-viewer>
</div>

<div *ngIf="row.teasertype == 'video'">
    <app-background-video></app-background-video>
</div>

<div *ngIf="row.teasertype == 'map'">
    <app-esri-map></app-esri-map>
</div>

<div *ngIf="row.teasertype == 'carousel'">
    <app-carousel></app-carousel>
</div>

<div >
    <div class="cards">
        <div class="card card-blog">
            <div class="card-image">
                <img class="img rounded" src="{{row.media}}">
            </div>
            <div class="card-body">
                <h6 class="category text-warning">
                    <i class="now-ui-icons media-1_camera-compact"></i> {{row.title}}
                </h6>
                <h5 class="card-title">
                    <a href="#pablo">{{row.p1}}</a>
                </h5>
            </div>
        </div>
    </div>
    <a [routerLink]="['/destination/6']" routerDirection="forward">Contacts</a>
</div>
