<app-header></app-header>
<!--welcome, introduction-->
<div class="container">
    <div _ngcontent-c2="" class="row">
            <div _ngcontent-c2="" class="blogs-4" id="blogs-4">
                <h1 _ngcontent-c2="" class="title">Historiske Trøndelag</h1>
                <h4 _ngcontent-c2="" class="description">The Trøndelag region has a rich history and is full of interesting sites. To promote you siting them, we've gathered a wide selection, focusing on the history of the Second World War. Come explore the country and it's history!</h4>
            </div>      
    </div>
</div>
<!--welcome, introduction-->
<app-destinationComponent></app-destinationComponent>
<app-storyComponent></app-storyComponent>
<app-activityComponent></app-activityComponent>
<app-footer></app-footer>
