<app-header></app-header>
<!--welcome, introduction-->
<div class="container-fluid h-1">
    <div class= "row align-items-center" style="background-color:#E64A19;" >
        <!--<h4 class="title">Historiske Trøndelag</h4>-->
        <h4 _ngcontent-c4="" class="description text-black text-center font-weight-border ml-5" style="width: 1400px;padding-left: 20%;">Ta Trøndelag ut av historiebøkene, og vi har bare permene igjen", heter det i et kjent norsk sitat. Fylket bugner av kulturminner fra steinalder til i dag. Her holdt store vikinger til, her ble det skrevet religionshistorie og trønderne er fortsatt beryktet for sitt særegne lynne. I Trøndelag kan du følge historien fra tidenes morgen til i dag.</h4>
    </div>      
</div>
<!--welcome, introduction-->
<app-destinationComponent></app-destinationComponent>
<app-storyComponent></app-storyComponent>
<app-activityComponent></app-activityComponent>
<app-footer></app-footer>
