#myVideo {
  position: relative;
  height: auto;
  width: 100%;
  padding-top: 0em;
  padding-bottom: 0em;
}

#textVideo
{
  position: absolute;
  top: 25%;
  right: 0;
  color: white;
}

.wrapper {
  position:relative;
  width: 100%;
  height: 0;
  padding-bottom: 60% ; /* % of width, defines aspect ratio*/
  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}
