<div #mapViewNode></div>
<div class class = "row justify-content-center">
    <a (click) = "panMap([11.0415781, 63.6913426])" class="btn btn-round"> Falstad </a>
    <a (click) = "panMap([10.4215368, 63.4399374])" class="btn btn-round"> Dora </a>
    <a (click) = "panMap([9.7221092, 63.7084133])" class="btn btn-round"> Austrått </a>
    <a (click) = "panMap([10.8302098,63.5399489])" class="btn btn-round"> Skatval </a>
    <a (click) = "panMap([10.9361328,63.5638626])" class="btn btn-round"> Tirpitz </a>
</div>
