<app-header></app-header>

<div class="container">
    <div class= "row align-items-center">
        <h1 _ngcontent-c4="" class="description text-black text-center font-weight-border" style="width: 1000px;padding-left: 10%;">DESTINATIONS</h1>
    </div>      
</div>

<!--Slider photos-->
<div _ngcontent-c4="" class="blogs-4" id="blogs-4">
    <div _ngcontent-c4="" class="container">
        <div class="header-3">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <div class="page-header header-filter">
                        <div class="page-header-image" style="background-image: url('assets/img/bg20.jpg');"></div>
                    </div>
                    </ng-template>
                <ng-template ngbSlide>
                    <div class="page-header header-filter">
                        <div class="page-header-image" style="background-image: url('assets/img/bg15.jpg');"></div>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="page-header header-filter">
                        <div class="page-header-image" style="background-image: url('assets/img/bg17.jpg');"></div>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <br>
        <div _ngcontent-c4="" class="row">                    
            <div _ngcontent-c4="" class="card card-plain card-blog">
                <h5 _ngcontent-c4="" class="card-description"> </h5>
            </div>
        </div>            
    </div>
    <br>
</div>
<!--Slider photos-->

<app-footer></app-footer>