<app-header></app-header>

<div class="page-header page-header-small">

    <div class="content-center">
        <h1 class="title">Historier</h1>
    </div>

    <div class="header-3">
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="page-header header-filter">
                    <div class="page-header-image" style="background-image: url('assets/img/tirpitz/Fleet_Air_Arm_attack_the_battleship_Tirpitz_crop.jpg');"></div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="page-header header-filter">
                    <div class="page-header-image" style="background-image: url('assets/img/saami/Saami_Family_1900_crop1.jpg');"></div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="page-header header-filter">
                    <div class="page-header-image" style="background-image: url('assets/img/stiklestad/stiklestad_killing_crop.jpg');"></div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="page-header header-filter">
                    <div class="page-header-image" style="background-image: url('assets/img/tours/bombed.jpg');"></div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>

</div>

    <div class="container">
      <div class="section">
        <br />
        <div class="row">
          <div *ngFor="let item of tableStories" class="col-md-5">
            <div _ngcontent-c1="" class="col">
                <br _ngcontent-c1="">
                <div _ngcontent-c1="" class="card card-plain card-blog">
                  <div _ngcontent-c1="" class="row">
                    <div _ngcontent-c1="" class="col">
                      <div _ngcontent-c1="" class="card-image">
                        <a [routerLink]="['/story/', item.id]">
                          <img _ngcontent-c1="" class="img img-raised rounded" src="{{'assets/img/'+item.cardimg}}">
                        </a>
                      </div>
                    </div>
                    <div _ngcontent-c1="" class="col">
                      <h3 _ngcontent-c1="" class="card-title">
                        <a _ngcontent-c1="" [routerLink]="['/story/', item.id]">{{item.cardtitle}}</a>
                      </h3>
                      <p _ngcontent-c1="" class="card-description"> {{item.carddescription}} 
                      </p>
                    </div>
                  </div>
                </div>
              </div>      
          </div>
        </div>
      </div>
    </div>

<app-footer></app-footer>
