<app-header></app-header>

<!--CAROUSEL-->
<div class="header">
    <ngb-carousel [keyboard]="true" [pauseOnHover]="true">
      <ng-template ngbSlide>
          <div class="wrapper" style="background-image: url('assets/img/tirpitz/Fleet_Air_Arm_attack_the_battleship_Tirpitz_crop.jpg');"></div>
      </ng-template>
      <ng-template ngbSlide>
          <div class="wrapper" style="background-image: url('assets/img/saami/Saami_Family_1900_crop1.jpg');"></div>
      </ng-template>
      <ng-template ngbSlide>
          <div class="wrapper" style="background-image: url('assets/img/stiklestad/stiklestad_killing_crop.jpg');"></div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper" style="background-image: url('assets/img/tours/bombed.jpg');"></div>
    </ng-template>
    </ngb-carousel>
    <h1 class="title" id="titleCarousel">HISTORIER</h1>
</div>

<div class="section">
    <div class="container">
      <div class="row">
        <div *ngFor="let item of tableStories" class="col-md-5">
          <div class="col">
              <br _ngcontent-c1="">
              <div class="card card-plain card-blog">
                <div class="row">
                  <div class="col">
                    <div class="card-image" id="imgCard">
                      <a [routerLink]="['/story/', item.id]">
                        <img class="img img-raised rounded" src="{{item.cardImgUrl}}">
                      </a>
                    </div>
                  </div>
                  <div class="col">
                    <h3 class="card-title">
                      <a [routerLink]="['/story/', item.id]">{{item.cardTitle}}</a>
                    </h3>
                    <p class="card-description"> {{item.cardDescription}}
                    </p>
                  </div>
                </div>
              </div>
            </div>      
        </div>
      </div>
    </div>
</div>

<app-footer></app-footer>
